@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400);

* {
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: #000022;
  }

  body {
    background-color: #000022 !important;
  }